use crate::integer::Integer;
use core::ops::Add;
use super::helpers::reverse_add_c_long;
use super::helpers::reverse_add_assign;
use super::helpers::reverse_add_c_long_assign;

// Add          The addition operator +.

{}
